In [12]:
# Import the dependencies.
import sys
sys.path.append('/Users/gomez/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages')
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hithadhoo,MV,2020-06-23 12:13:24,-0.60,73.08,84.97,72,43,10.13
1,1,Cherskiy,RU,2020-06-23 12:13:24,68.75,161.30,40.15,70,38,13.85
2,2,Mataura,NZ,2020-06-23 12:13:24,-46.19,168.86,39.00,83,68,3.00
3,3,Aykhal,RU,2020-06-23 12:13:25,66.00,111.50,78.80,22,42,11.18
4,4,Arraial Do Cabo,BR,2020-06-23 12:13:25,-22.97,-42.03,68.00,88,75,5.82

In [14]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [15]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
locations = city_data_df[["Lat", "Lng"]]
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 100

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hithadhoo,MV,2020-06-23 12:13:24,-0.60,73.08,84.97,72,43,10.13
3,3,Aykhal,RU,2020-06-23 12:13:25,66.00,111.50,78.80,22,42,11.18
5,5,Opuwo,NaN,2020-06-23 12:13:25,-18.06,13.84,77.47,18,0,15.10
6,6,Makakilo City,US,2020-06-23 12:13:25,21.35,-158.09,75.20,78,40,4.70
9,9,Cascais,PT,2020-06-23 12:13:26,38.70,-9.42,77.00,61,20,14.99
10,10,Kavieng,PG,2020-06-23 12:13:26,-2.57,150.80,83.08,76,21,9.24
11,11,Gombong,ID,2020-06-23 12:13:26,-7.61,109.51,77.94,83,94,8.21
12,12,Merauke,ID,2020-06-23 12:13:27,-8.47,140.33,77.68,83,2,15.95
15,15,Nikolskoye,RU,2020-06-23 12:13:28,59.70,30.79,77.00,33,0,4.47
20,20,Uaua,BR,2020-06-23 12:13:30,-9.84,-39.48,73.74,75,59,17.92

In [22]:
preferred_cities_df.count()

City_ID       326
City          326
Country       322
Date          326
Lat           326
Lng           326
Max Temp      326
Humidity      326
Cloudiness    326
Wind Speed    326
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
0       Hithadhoo      MV     84.97  -0.60   73.08
3          Aykhal      RU     78.80  66.00  111.50
5           Opuwo     NaN     77.47 -18.06   13.84
6   Makakilo City      US     75.20  21.35 -158.09
9         Cascais      PT     77.00  38.70   -9.42
10        Kavieng      PG     83.08  -2.57  150.80
11        Gombong      ID     77.94  -7.61  109.51
12        Merauke      ID     77.68  -8.47  140.33
15     Nikolskoye      RU     77.00  59.70   30.79
20           Uaua      BR     73.74  -9.84  -39.48

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hithadhoo,MV,84.97,-0.60,73.08,Scoop Guest House
3,Aykhal,RU,78.80,66.00,111.50,
5,Opuwo,NaN,77.47,-18.06,13.84,ABBA Guesthouse
6,Makakilo City,US,75.20,21.35,-158.09,Marriott's Ko Olina Beach Club
9,Cascais,PT,77.00,38.70,-9.42,Hotel Vila Galé Cascais
10,Kavieng,PG,83.08,-2.57,150.80,Nusa Island Retreat
11,Gombong,ID,77.94,-7.61,109.51,Grafika Hotel Dan Restoran
12,Merauke,ID,77.68,-8.47,140.33,
15,Nikolskoye,RU,77.00,59.70,30.79,Tourist House - Sablino
20,Uaua,BR,73.74,-9.84,-39.48,Hotel Uauá

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))